client/*
!client/*.go
server/*
!server/*.go
!server/Dockerfile
certgen/*
!certgen/*.go

# project binary files
serverd
tlsclient
cert

# generated certificates
selfsigned.crt
selfsigned.key
client.crt
client.key
server.crt
server.key
